@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-pcomp d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Class="ft-padrao text-center fs-titulo pb-9">
                <strong class="f-s-g">Programa Aterro Zero</strong>
            </MudText>

            <MudText Class="ft-padrao text-center fs-subt-2 pb-9">
                Eliminamos a destinação de resíduos em aterros, transformando-os em coprodutos e energia limpa. Já processamos mais de 31 mil toneladas, reforçando nosso papel na economia circular.
            </MudText>

            <div class="d-flex justify-center align-center gap-6">
                <MudCard Elevation="25" style="width: 240px; height:236px; border-radius: 8px">
                    <MudCardContent class="d-flex justify-center align-center flex-column">
                        <div class="d-flex justify-center align-center flex-column pb-9">
                            <MudText Class="ft-padrao f-h2 w-700 fs-titulo-2 text-center">
                                +31 mil<br />                                
                            </MudText>
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt-2 text-center">
                                toneladas
                            </MudText>
                        </div>
                        <MudText Class="ft-padrao fs-subt-2 text-center">
                            De resíduos processados internamente na Bella Vista Ambiental
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="25" style="width: 240px; height:236px; border-radius: 8px">
                    <MudCardContent class="d-flex justify-center align-center flex-column">
                        <div class="d-flex justify-center align-center flex-column pb-9">
                            <MudText Class="ft-padrao f-h2 w-700 fs-titulo-2 text-center">
                                470<br />
                            </MudText>
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt-2 text-center">
                                estádios de futebol
                            </MudText>
                        </div>
                        <MudText Class="ft-padrao fs-subt-2 text-center">
                            É o volume equivalente de resíduos que já foram descaracterizados e transformados
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="25" style="width: 240px; height:236px; border-radius: 8px">
                    <MudCardContent class="d-flex justify-center align-center flex-column">
                        <div class="d-flex justify-center align-center flex-column pb-9">
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt text-center">
                                Alimentação<br />
                            </MudText>
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt-2 text-center">
                                animal sustentável
                            </MudText>
                        </div>
                        <MudText Class="ft-padrao fs-subt-2 text-center">
                            Resíduos transformados em insumos para suínos e bovinos, conforme Instrução Normativa nº 81 do MAPA.
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-pcomp-m d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Class="ft-padrao text-center fs-titulo-m pb-9">
                <strong class="f-s-g">Programa Aterro Zero</strong>
            </MudText>

            <MudText Class="ft-padrao text-center fs-subt-m pb-9">
                Eliminamos a destinação de resíduos em aterros, transformando-os em coprodutos e energia limpa. Já processamos mais de 31 mil toneladas, reforçando nosso papel na economia circular.
            </MudText>

            <div class="d-flex justify-center align-center flex-wrap gap-6">
                <MudCard Elevation="25" style="width: 240px; border-radius: 8px">
                    <MudCardContent class="d-flex justify-center align-center flex-column">
                        <div class="d-flex justify-center align-center flex-column pb-3">
                            <MudText Class="ft-padrao f-h2 w-700 fs-titulo-2 text-center">
                                +31 mil<br />
                            </MudText>
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt-m text-center">
                                toneladas
                            </MudText>
                        </div>
                        <MudText Class="ft-padrao fs-subt-m text-center">
                            De resíduos processados internamente na Bella Vista Ambiental
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="25" style="width: 240px; border-radius: 8px">
                    <MudCardContent class="d-flex justify-center align-center flex-column">
                        <div class="d-flex justify-center align-center flex-column pb-3">
                            <MudText Class="ft-padrao f-h2 w-700 fs-titulo-2 text-center">
                                470<br />
                            </MudText>
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt-m text-center">
                                estádios de futebol
                            </MudText>
                        </div>
                        <MudText Class="ft-padrao fs-subt-m text-center">
                            É o volume equivalente de resíduos que já foram descaracterizados e transformados
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="25" style="width: 240px; border-radius: 8px">
                    <MudCardContent class="d-flex justify-center align-center flex-column">
                        <div class="d-flex justify-center align-center flex-column pb-3">
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt text-center">
                                Alimentação<br />
                            </MudText>
                            <MudText Class="ft-padrao f-h2 w-700 fs-subt-m text-center">
                                animal sustentável
                            </MudText>
                        </div>
                        <MudText Class="ft-padrao fs-subt-m text-center">
                            Resíduos transformados em insumos para suínos e bovinos, conforme Instrução Normativa nº 81 do MAPA.
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-pcomp {
        height: 60vh;
    }

    .wrapper-pcomp-m {
        height: 100%;
        padding: 30px 0;
    }
</style>