@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-gs d-flex align-center justify-center pt-20">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Class="ft-padrao text-center fs-titulo pb-9">
                <strong class="f-s-g">Gestão Integrada</strong><br />de Resíduos
            </MudText>

            <div style="width: 585px; margin: 0 auto;" class="mb-5">
                <MudText Class="ft-padrao text-center fs-subt-2 pb-4 f-h">
                    Na Bella Vista, oferecemos uma solução completa de gestão integrada de resíduos, com controle centralizado e eficiente de todas as etapas do processo. Desde a análise personalizada das necessidades de cada cliente até a coleta, tratamento e destinação final dos resíduos.
                </MudText>
            </div>

            <div style="width: 585px; margin: 0 auto;" class="mb-5">
                <MudText Class="ft-padrao text-center fs-subt-2 pb-9 f-h">
                    Nosso modelo de atuação une eficiência operacional, customização de serviços e um forte compromisso com a sustentabilidade ambiental, promovendo a valorização dos resíduos e a redução de impactos ao meio ambiente
                </MudText>
            </div>
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudCard Class="card-bvc" Elevation="0">
                        <MudCardContent>
                            <MudText Class="ft-padrao text-center card-header c-w w-700 fs-subt-2 mb-3 pa-1 rounded">
                                Otimização de Materiais Recicláveis
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-2 f-s-g pb-4">
                                Através de estudos técnicos aprofundados e uma equipe de especialistas dedicados a cada segmento de atuação, identificamos as melhores práticas para o manuseio, armazenamento e transporte de recicláveis.
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-2 f-s-g pb-4">
                                Seguimos rigorosamente as diretrizes da Política Nacional de Resíduos Sólidos (PNRS), garantindo conformidade legal, responsabilidade socioambiental e alto padrão técnico em todas as operações.
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-2 f-s-g">
                                Nossa área de Pesquisa e Desenvolvimento (P&D) atua ativamente no desenvolvimento de novas tecnologias e rotas de valorização, buscando alternativas sustentáveis e inovadoras para a destinação de resíduos sempre em parceria com o meio ambiente.
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" md="6">
                    <MudCard Class="card-bvc" Elevation="0">
                        <MudCardContent>
                            <MudText Class="ft-padrao text-center card-header c-w w-700 fs-subt-2 mb-3 pa-1 rounded">
                                Relatórios Técnicos e Rastreabilidade
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-2 f-s-g pb-4">
                                Para assegurar transparência, rastreabilidade e segurança jurídica, emitimos relatórios técnicos conclusivos que documentam todo o ciclo dos resíduos: desde a sua geração até a destinação final, com todos os registros necessários para controle e auditoria.
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-2 f-s-g">
                                Esse processo garante não apenas o atendimento às exigências legais, mas também um compromisso contínuo com a excelência, integridade e sustentabilidade.
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-gs d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Class="ft-padrao text-center fs-titulo-m pb-9">
                <strong class="f-s-g">Gestão Integrada</strong><br />de Resíduos
            </MudText>

            <MudText Class="ft-padrao text-center fs-subt-m pb-4 f-h">
                Na Bella Vista, oferecemos uma solução completa de gestão integrada de resíduos, com controle centralizado e eficiente de todas as etapas do processo. Desde a análise personalizada das necessidades de cada cliente até a coleta, tratamento e destinação final dos resíduos.
            </MudText>

            <MudText Class="ft-padrao text-center fs-subt-m pb-9 f-h">
                Nosso modelo de atuação une eficiência operacional, customização de serviços e um forte compromisso com a sustentabilidade ambiental, promovendo a valorização dos resíduos e a redução de impactos ao meio ambiente
            </MudText>

            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudCard Class="card-bvc" Elevation="0">
                        <MudCardContent>
                            <MudText Class="ft-padrao text-center card-header c-w w-700 fs-subt-m mb-3 pa-1 rounded">
                                Otimização de Materiais Recicláveis
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-m f-s-g pb-4">
                                Através de estudos técnicos aprofundados e uma equipe de especialistas dedicados a cada segmento de atuação, identificamos as melhores práticas para o manuseio, armazenamento e transporte de recicláveis.
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-m f-s-g pb-4">
                                Seguimos rigorosamente as diretrizes da Política Nacional de Resíduos Sólidos (PNRS), garantindo conformidade legal, responsabilidade socioambiental e alto padrão técnico em todas as operações.
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-2 f-s-g">
                                Nossa área de Pesquisa e Desenvolvimento (P&D) atua ativamente no desenvolvimento de novas tecnologias e rotas de valorização, buscando alternativas sustentáveis e inovadoras para a destinação de resíduos sempre em parceria com o meio ambiente.
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" md="6">
                    <MudCard Class="card-bvc" Elevation="0">
                        <MudCardContent>
                            <MudText Class="ft-padrao text-center card-header c-w w-700 fs-subt-m mb-3 pa-1 rounded">
                                Relatórios Técnicos e Rastreabilidade
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-m f-s-g pb-4">
                                Para assegurar transparência, rastreabilidade e segurança jurídica, emitimos relatórios técnicos conclusivos que documentam todo o ciclo dos resíduos: desde a sua geração até a destinação final, com todos os registros necessários para controle e auditoria.
                            </MudText>

                            <MudText Class="ft-padrao text-center fs-subt-m f-s-g">
                                Esse processo garante não apenas o atendimento às exigências legais, mas também um compromisso contínuo com a excelência, integridade e sustentabilidade.
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-gs {
        height: 100%;
        padding: 30px 0;
    }

    .wrapper-gs-m {
        height: 100%;
        padding: 30px 0;
    }

    .card-header {
        background: rgba(137, 187, 72, 1);
    }

    .card-bvc {
        margin-bottom: 30px;
        border: 1px solid rgba(137, 187, 72, 1)
    }
</style>