@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-nvc bg-segmento d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudGrid Style="display: flex; align-items: center !important;">
                <MudItem xs="12" md="6" Class="flex flex-col justify-center">
                    <MudText Class="ft-padrao fs-titulo c-w pb-8">
                        <strong>Nossos<br /> diferenciais</strong><br />operacionais
                    </MudText>
                </MudItem>

                <MudItem xs="12" md="6">
                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent Class="d-flex justify-start align-center gap-2">
                            <MudImage Src="assets/icon-service-1.png" />
                            <MudText Class="fs-subt-2 ft-padrao">
                                Rastreabilidade em tempo real
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent Class="d-flex justify-start align-center gap-2">
                            <MudImage Src="assets/icon-service-2.png" />
                            <MudText Class="fs-subt-2 ft-padrao">
                                Compliance em todas as etapas
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent Class="d-flex justify-start align-center gap-2">
                            <MudImage Src="assets/icon-service-3.png" />
                            <MudText Class="fs-subt-2 ft-padrao">
                                Aterro zero
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w rounded-lg" Elevation="0">
                        <MudCardContent Class="d-flex justify-start align-center gap-2">
                            <MudImage Src="assets/icon-service-4.png" />
                            <MudText Class="fs-subt-2 ft-padrao">
                                Processos sustentáveis alinhados ao ESG
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-nvc-m bg-segmento d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Class="ft-padrao text-center fs-titulo-m c-w pb-5">
                <strong>Nossos diferenciais</strong><br />operacionais
            </MudText>

            <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                <MudCardContent>
                    <MudText Class="fs-subt-m ft-padrao">
                        <strong class="w-700">• Ética e Transparência</strong>
                    </MudText>
                </MudCardContent>
            </MudCard>

            <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                <MudCardContent>
                    <MudText Class="fs-subt-m ft-padrao">
                        <strong class="w-700">• Inovação Sustentável</strong>
                    </MudText>
                </MudCardContent>
            </MudCard>

            <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                <MudCardContent>
                    <MudText Class="fs-subt-m ft-padrao">
                        <strong class="w-700">• Responsabilidade Socioambiental</strong>
                    </MudText>
                </MudCardContent>
            </MudCard>

            <MudCard Class="bg-card c-w rounded-lg" Elevation="0">
                <MudCardContent>
                    <MudText Class="fs-subt-m ft-padrao">
                        <strong class="w-700">• Segurança e Conformidade</strong>
                    </MudText>
                </MudCardContent>
            </MudCard>
        </MudContainer>
    </div>
</MudHidden>


<style>
    .wrapper-nvc {
        height: 40vh;
    }

    .wrapper-nvc-m {
        height: 100%;
        padding: 30px 0;
    }

    .c-w {
        color: white;
    }

    .bg-card {
        background: rgba(27, 128, 77, 1);
    }
</style>