@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-s1 d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Medium" Class="flex items-center">
            @* SERVICO 1 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-start">
                    <MudImage Src="assets/servicos-1.png"
                              Width="450"
                              Height="320"
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao fs-subt-2 pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao fs-titulo-2 pb-7">
                        <strong class="f-s-g">Coleta</strong>
                    </MudText>

                    <MudText Class="ft-padrao fs-subt-2 pb-7">
                        Realizamos a coleta de resíduos e produtos não conformes da indústria alimentícia, respeitando protocolos de compliance.
                    </MudText>
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 2 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao fs-subt-2 pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao fs-titulo-2 pb-7">
                        <strong class="f-s-g">Transporte</strong>
                    </MudText>

                    <MudText Class="ft-padrao fs-subt-2 pb-7">
                        Frota moderna de caminhões Mercedes-Benz Bluetec 6, que reduzem em até 90% a emissão de gases poluentes.
                    </MudText>
                </MudItem>

                <MudItem xs="12" md="6" Class="d-flex justify-end">
                    <MudImage Src="assets/sobrenos-caminhoes.png"
                              Width="450"
                              Height="320"
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 3 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-start">
                    <MudImage Src="assets/servicos-3.png"
                              Width="450"
                              Height="320"
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao fs-subt-2 pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao fs-titulo-2 pb-7">
                        <strong class="f-s-g">Descaracterização e Eliminação de Marca</strong>
                    </MudText>

                    <MudText Class="ft-padrao fs-subt-2 pb-7">
                        Aplicamos métodos sob medida para inutilizar produtos, embalagens e materiais promocionais, impossibilitando qualquer forma de reaproveitamento ou associação à marca original.
                    </MudText>
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 4 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao fs-subt-2 pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao fs-titulo-2 pb-7">
                        <strong class="f-s-g">Processamento</strong>
                    </MudText>

                    <MudText Class="ft-padrao fs-subt-2 pb-7">
                        Resíduos transformados em coprodutos de valor agregado, como insumos para nutrição animal.
                    </MudText>
                </MudItem>

                <MudItem xs="12" md="6" Class="d-flex justify-end">
                    <MudImage Src="assets/servicos-4.png"
                              Width="450"
                              Height="320"
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 5 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-start">
                    <MudImage Src="assets/servicos-5.png"
                              Width="450"
                              Height="320"
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao fs-subt-2 pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao fs-titulo-2 pb-7">
                        <strong class="f-s-g">Biodigestão</strong>
                    </MudText>

                    <MudText Class="ft-padrao fs-subt-2 pb-7">
                        Resíduos orgânicos tratados por biodigestão anaeróbica, gerando energia limpa e biofertilizantes.
                    </MudText>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-s1 d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large" Class="flex items-center">
            @* SERVICO 1 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-start">
                    <MudImage Src="assets/servicos-1.png"
                              Width="450"
                              Height="120"
                              Class="rounded-lg"                              
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao text-center fs-subt-m pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-titulo-m pb-7">
                        <strong class="f-s-g">Coleta</strong>
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-subt-m">
                        Realizamos a coleta de resíduos e produtos não conformes da indústria alimentícia, respeitando protocolos de compliance.
                    </MudText>
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 2 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-end">
                    <MudImage Src="assets/sobrenos-caminhoes-v2.png"
                              Width="450"
                              Height="120"
                              ObjectPosition="ObjectPosition.Center"
                              ObjectFit="ObjectFit.Cover"
                              Class="rounded-lg obj-p " />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao text-center fs-subt-m pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-titulo-m pb-7">
                        <strong class="f-s-g">Transporte</strong>
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-subt-m">
                        Frota moderna de caminhões Mercedes-Benz Bluetec 6, que reduzem em até 90% a emissão de gases poluentes.
                    </MudText>
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 3 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-start">
                    <MudImage Src="assets/servicos-3.png"
                              Width="450"
                              Height="120"
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao text-center fs-subt-m pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-titulo-m pb-7">
                        <strong class="f-s-g">Descaracterização e Eliminação de Marca</strong>
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-subt-m">
                        Aplicamos métodos sob medida para inutilizar produtos, embalagens e materiais promocionais, impossibilitando qualquer forma de reaproveitamento ou associação à marca original.
                    </MudText>
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 4 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-end">
                    <MudImage Src="assets/servicos-4.png"
                              Width="450"
                              Height="120"
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao text-center fs-subt-m pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-titulo-m pb-7">
                        <strong class="f-s-g">Processamento</strong>
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-subt-m">
                        Resíduos transformados em coprodutos de valor agregado, como insumos para nutrição animal.
                    </MudText>
                </MudItem>
            </MudGrid>

            <MudContainer MaxWidth="MaxWidth.Large">
                <MudDivider Class="pb-9" />
            </MudContainer>

            @* SERVICO 5 *@
            <MudGrid class="d-flex align-center pb-9">
                <MudItem xs="12" md="6" Class="d-flex justify-start">
                    <MudImage Src="assets/servicos-5.png"
                              Width="450"
                              Height="120"                              
                              Class="rounded-lg"
                              ObjectFit="ObjectFit.Cover"
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12" md="6" Class="flex flex-col text-white">
                    <MudText Class="ft-padrao text-center fs-subt-m pb-7 f-h">
                        • SOLUÇÕES
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-titulo-m pb-7">
                        <strong class="f-s-g">Biodigestão</strong>
                    </MudText>

                    <MudText Class="ft-padrao text-center fs-subt-m">
                        Resíduos orgânicos tratados por biodigestão anaeróbica, gerando energia limpa e biofertilizantes.
                    </MudText>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-s1 {
        padding: 30px 0;
        height: 100%;
    }

    .wrapper-s1-m {
        height: 100%;
        padding: 30px 0
    }

    .obj-p {
        object-position: 50% 60%;
        object-fit: cover;
    }
</style>