<MudAppBar Elevation="1">
    <MudContainer MaxWidth="MaxWidth.Large">
        <div class="d-flex justify-space-between">
            <MudText Typo="Typo.h6" Style="font-family:Exo">Application</MudText>
            <MudText Typo="Typo.h6" Style="font-family:Exo">testes</MudText>
        </div>
    </MudContainer>
</MudAppBar>