<div class="d-flex justify-center align-center" style="margin-left: 0 !important;">
    <MudNavLink style="margin-left: 0;" href="#">Home</MudNavLink>
    <MudNavLink href="quem-somos" style="white-space: nowrap; margin-left: 0;">Quem somos</MudNavLink>
    <MudNavLink style="margin-left: 0;" href="compliance">Compliance</MudNavLink>
    <MudNavLink style="margin-left: 0;" href="servicos">Serviços</MudNavLink>
    <MudNavLink style="margin-left: 0;" href="news">News</MudNavLink>
</div>