@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-nvc bg-segmento d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudGrid Style="display: flex; align-items: center !important;">
                <MudItem xs="12" md="6" Class="flex flex-col justify-center">
                    <MudText Typo="Typo.h3" Class="ft-padrao fs-titulo c-w pb-8">
                        Nossos <strong>Valores</strong>
                    </MudText>
                    <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao c-w">
                        Nossos valores foram construídos ao longo de mais de 15 anos de experiência e são a base da confiança e credibilidade que conquistamos no mercado.
                    </MudText>
                </MudItem>

                <!-- Imagem -->
                <MudItem xs="12" md="6">
                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                                <strong class="w-700">• Ética e Transparência</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                                <strong class="w-700">• Inovação Sustentável</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                                <strong class="w-700">• Responsabilidade Socioambiental</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                                <strong class="w-700">• Segurança e Conformidade</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-nvc-m bg-segmento d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudGrid Style="display: flex; align-items: center !important;">
                <MudItem Class="flex flex-col text-center justify-center">
                    <MudText Class="ft-padrao text-center fs-titulo-m c-w pb-5">
                        Nossos <strong>Valores</strong>
                    </MudText>
                    <MudText Class="fs-subt-m text-center ft-padrao c-w">
                        Nossos valores foram construídos ao longo de mais de 15 anos de experiência e são a base da confiança e credibilidade que conquistamos no mercado.
                    </MudText>
                </MudItem>

                <!-- Imagem -->
                <MudItem xs="12" md="6">
                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Class="fs-subt-m text-center ft-padrao">
                                <strong class="w-700">• Ética e Transparência</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Class="fs-subt-m text-center ft-padrao">
                                <strong class="w-700">• Inovação Sustentável</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Class="fs-subt-m text-center ft-padrao">
                                <strong class="w-700">• Responsabilidade Socioambiental</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>

                    <MudCard Class="bg-card c-w rounded-lg" Elevation="0">
                        <MudCardContent>
                            <MudText Class="fs-subt-m text-center ft-padrao">
                                <strong class="w-700">• Segurança e Conformidade</strong>
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>


<style>
    .wrapper-nvc {
        height: 40vh;
    }

    .wrapper-nvc-m {
        height: 100%;
        padding: 30px 0;
    }

    .c-w {
        color: white;
    }

    .bg-card {
        background: rgba(27, 128, 77, 1);
    }
</style>