@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-pcomp d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo pb-9">
                Programa de <strong class="f-s-g">Compliance</strong>
            </MudText>

            <MudText Class="ft-padrao text-center fs-subt-2 pb-9">
                A Bella Vista adota um sólido programa de compliance, fundamentado em princípios éticos, legais e ambientais. Todas as nossas atividades seguem rigorosos padrões de conformidade, garantindo processos transparentes, alinhados à legislação vigente e às melhores práticas do setor.
            </MudText>


            <div class="d-flex justify-center align-center gap-6">
                <MudCard Elevation="25" style="width: 228px; height:236px; border-radius: 8px">
                    <MudCardContent>
                        <div class="d-flex justify-center align-center pb-9">
                            <MudImage Src="assets/icon-etica-comp.png" Width="80" Height="80" />
                        </div>
                        <MudText Typo="Typo.h6" Class="ft-padrao fs-subt-2 text-center">
                            <strong class="f-s-g">Ética e integridade</strong> em<br /> todas as áreas
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="25" style="width: 228px; height:236px; border-radius: 8px">
                    <MudCardContent>
                        <div class="d-flex justify-center align-center pb-9">
                            <MudImage Src="assets/icon-confor-comp.png" Width="80" Height="80" />
                        </div>
                        <MudText Typo="Typo.h6" Class="ft-padrao fs-subt-2 text-center">
                            <strong class="f-s-g">Conformidade legal</strong><br /> e ambiental
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Elevation="25" style="width: 228px; height:236px; border-radius: 8px">
                    <MudCardContent>
                        <div class="d-flex justify-center align-center pb-9">
                            <MudImage Src="assets/icon-relac-comp.png" Width="80" Height="80" />
                        </div>
                        <MudText Typo="Typo.h6" Class="ft-padrao fs-subt-2 text-center">
                            <strong class="f-s-g">Relações responsáveis</strong><br /> com parceiros e clientes
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-pcomp-m d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo-m pb-9">
                Programa de <strong class="f-s-g">Compliance</strong>
            </MudText>

            <MudText Class="ft-padrao text-center fs-subt-2 pb-7">
                A Bella Vista adota um sólido programa de compliance, fundamentado em princípios éticos, legais e ambientais. Todas as nossas atividades seguem rigorosos padrões de conformidade, garantindo processos transparentes, alinhados à legislação vigente e às melhores práticas do setor.
            </MudText>

            <MudGrid>
                <MudItem xs="12" md="3">
                    <MudCard Elevation="25" style="border-radius: 8px">
                        <MudCardContent>
                            <div class="d-flex justify-center align-center pb-9">
                                <MudImage Src="assets/icon-etica-comp.png" Width="80" Height="80" />
                            </div>
                            <MudText Typo="Typo.h6" Class="ft-padrao fs-subt-2 text-center">
                                <strong class="f-s-g">Ética e integridade</strong> em<br /> todas as áreas
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" md="3">
                    <MudCard Elevation="25" style="border-radius: 8px">
                        <MudCardContent>
                            <div class="d-flex justify-center align-center pb-9">
                                <MudImage Src="assets/icon-confor-comp.png" Width="80" Height="80" />
                            </div>
                            <MudText Typo="Typo.h6" Class="ft-padrao fs-subt-2 text-center">
                                <strong class="f-s-g">Conformidade legal</strong><br /> e ambiental
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>

                <MudItem xs="12" md="3">
                    <MudCard Elevation="25" style="border-radius: 8px">
                        <MudCardContent>
                            <div class="d-flex justify-center align-center pb-9">
                                <MudImage Src="assets/icon-relac-comp.png" Width="80" Height="80" />
                            </div>
                            <MudText Typo="Typo.h6" Class="ft-padrao fs-subt-2 text-center">
                                <strong class="f-s-g">Relações responsáveis</strong><br /> com parceiros e clientes
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-pcomp {
        height: 60vh;
    }

    .wrapper-pcomp-m {
        height: 100%;
        padding: 30px 0;
    }
</style>