@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-sust d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo-2 pb-9">
                Bella Vista Ambiental: <strong class="f-s-g">Inovação<br /> e Sustentabilidade na Gestão<br />de Resíduos</strong>
            </MudText>

            <div Style="width: 600px;" class="mg-a">
                <MudText Class="ft-padrao text-center fs-subt-2 pb-9">
                    Na Bella Vista Ambiental, nossa missão vai além da simples gestão de resíduos, estamos comprometidos em promover práticas sustentáveis alinhadas aos Objetivos de Desenvolvimento Sustentável da ONU (ODS), contribuindo para um futuro mais equilibrado e responsável.
                </MudText>
            </div>

            <MudText Class="ft-padrao text-center w-700 fs-subt-2 pb-9 f-s-g">
                Nosso Programa Aterro Zero é desenvolvido com base em seis ODS<br /> prioritários, que norteiam nossas estratégias e resultados:
            </MudText>

            <MudContainer MaxWidth="MaxWidth.Small">
                <MudCard Class="card-bvc" Elevation="0">
                    <MudCardContent>
                        <MudText Class="ft-padrao fs-subt-2 f-s-g">
                            <strong class="w-700">• ODS 6:</strong> Promovemos a gestão responsável da água e saneamento por meio de técnicas que garantem o tratamento adequado dos resíduos e a preservação dos recursos hídricos.<br />
                            <strong class="w-700">• ODS 7:</strong> Incentivamos o acesso à energia sustentável, gerando internamente energia limpa por meio de biodigestores e sistemas fotovoltaicos, reduzindo o uso de recursos não renováveis.<br />
                            <strong class="w-700">• ODS 8:</strong> Estimulamos o crescimento econômico sustentável, criando empregos de qualidade e adotando tecnologias ambientais inovadoras.<br />
                            <strong class="w-700">• ODS 9:</strong> Investimos em infraestrutura e processos tecnológicos avançados para garantir um tratamento eficiente e ambientalmente responsável dos resíduos.<br />
                            <strong class="w-700">• ODS 12:</strong> Priorizamos a redução, reutilização e reciclagem dos resíduos, promovendo padrões responsáveis de produção e consumo.<br />
                            <strong class="w-700">• ODS 13:</strong> Atuamos para mitigar as mudanças climáticas, adotando práticas que diminuem as emissões por meio do manejo correto dos resíduos e da geração de energia limpa.<br />
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudContainer>

            <div Style="width: 600px;" class="mg-a">
                <MudText Class="ft-padrao text-center fs-subt-2 pb-9">
                    Adicionalmente, nosso compromisso abrange outros ODS relacionados à inclusão social, saúde, educação, igualdade de gênero, preservação ambiental e parcerias globais, como os objetivos 1, 2, 3, 4, 5, 11, 15 e 17.
                </MudText>
            </div>

            <MudText Class="ft-padrao text-center w-700 fs-subt-2 pb-9 f-s-g">
                Para alcançar as metas do Programa Aterro Zero, seguimos um processo<br /> rigoroso de gestão que inclui:
            </MudText>

            <MudContainer MaxWidth="MaxWidth.Small">
                <MudCard Class="card-bvc" Elevation="0">
                    <MudCardContent>
                        <MudText Class="ft-padrao fs-subt-2 f-s-g">
                            • Levantamento detalhado da origem e do volume dos resíduos;<br />
                            • Desenvolvimento de estratégias para prevenir e minimizar a geração de resíduos;<br />
                            • Avaliação técnica para reaproveitamento e valorização dos resíduos;<br />
                            • Classificação, codificação e registro completo dos materiais;<br />
                            • Triagem, armazenamento e acondicionamento adequados;<br />
                            • Seleção criteriosa de parceiros ambientais e recicladores certificados;<br />
                            • Destinação final conforme as normas ambientais vigentes;<br />
                            • Emissão periódica de relatórios detalhados para garantir transparência e controle.<br />
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudContainer>

            <div Style="width: 600px;" class="mg-a">
                <MudText Class="ft-padrao text-center fs-subt-2 pb-9">
                    Dessa forma, a Bella Vista Ambiental reafirma seu compromisso com a transformação socioambiental, combinando inovação, responsabilidade e sustentabilidade em todas as etapas do gerenciamento de resíduos.
                </MudText>
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-sust-m d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo-m pb-9">
                Bella Vista Ambiental:<br /><strong class="f-s-g">Inovação e Sustentabilidade<br />na Gestão de Resíduos</strong>
            </MudText>

            <MudText Class="ft-padrao text-center fs-subt-m pb-9">
                Na Bella Vista Ambiental, nossa missão vai além da simples gestão de <br />resíduos, estamos comprometidos em promover práticas sustentáveis<br />alinhadas aos Objetivos de Desenvolvimento Sustentável da ONU (ODS),<br />contribuindo para um futuro mais equilibrado e responsável.
            </MudText>

            <MudText Class="ft-padrao text-center w-700 fs-subt-m pb-9 f-s-g">
                Nosso Programa Aterro Zero é desenvolvido com base em seis ODS<br />prioritários, que norteiam nossas estratégias e resultados:
            </MudText>

            <MudCard Class="card-bvc" Elevation="0">
                <MudCardContent>
                    <MudText Class="ft-padrao fs-subt-m f-s-g">
                        <strong class="w-700">• ODS 6:</strong> Promovemos a gestão responsável da água e saneamento por meio de técnicas que garantem o tratamento adequado dos resíduos e a preservação dos recursos hídricos.<br />
                        <strong class="w-700">• ODS 7:</strong> Incentivamos o acesso à energia sustentável, gerando internamente energia limpa por meio de biodigestores e sistemas fotovoltaicos, reduzindo o uso de recursos não renováveis.<br />
                        <strong class="w-700">• ODS 8:</strong> Estimulamos o crescimento econômico sustentável, criando empregos de qualidade e adotando tecnologias ambientais inovadoras.<br />
                        <strong class="w-700">• ODS 9:</strong> Investimos em infraestrutura e processos tecnológicos avançados para garantir um tratamento eficiente e ambientalmente responsável dos resíduos.<br />
                        <strong class="w-700">• ODS 12:</strong> Priorizamos a redução, reutilização e reciclagem dos resíduos, promovendo padrões responsáveis de produção e consumo.<br />
                        <strong class="w-700">• ODS 13:</strong> Atuamos para mitigar as mudanças climáticas, adotando práticas que diminuem as emissões por meio do manejo correto dos resíduos e da geração de energia limpa.<br />
                    </MudText>
                </MudCardContent>
            </MudCard>

            <MudText Class="ft-padrao text-center fs-subt-m pb-9">
                Adicionalmente, nosso compromisso abrange outros ODS relacionados à<br />inclusão social, saúde, educação, igualdade de gênero, preservação<br />ambiental e parcerias globais, como os objetivos 1, 2, 3, 4, 5, 11, 15 e 17.
            </MudText>

            <MudText Class="ft-padrao text-center w-700 fs-subt-m pb-9 f-s-g">
                Para alcançar as metas do Programa Aterro Zero, seguimos um<br />processo rigoroso de gestão que inclui:
            </MudText>

            <MudCard Class="card-bvc" Elevation="0">
                <MudCardContent>
                    <MudText Class="ft-padrao fs-subt-m f-s-g">
                        • Levantamento detalhado da origem e do volume dos resíduos;<br />
                        • Desenvolvimento de estratégias para prevenir e minimizar a geração de resíduos;<br />
                        • Avaliação técnica para reaproveitamento e valorização dos resíduos;<br />
                        • Classificação, codificação e registro completo dos materiais;<br />
                        • Triagem, armazenamento e acondicionamento adequados;<br />
                        • Seleção criteriosa de parceiros ambientais e recicladores certificados;<br />
                        • Destinação final conforme as normas ambientais vigentes;<br />
                        • Emissão periódica de relatórios detalhados para garantir transparência e controle.<br />
                    </MudText>
                </MudCardContent>
            </MudCard>

            <MudText Class="ft-padrao text-center fs-subt-m pb-3">
                Dessa forma, a Bella Vista Ambiental reafirma seu compromisso com a<br />transformação socioambiental, combinando inovação, responsabilidade e<br />sustentabilidade em todas as etapas do gerenciamento de resíduos.
            </MudText>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-sust {
        height: 100%;
        padding: 30px 0;
    }

    .wrapper-sust-m {
        height: 100%;
        padding: 30px 0;
    }

    .card-bvc {
        margin-bottom: 30px;
        /* padding: 10px; */
        border: 1px solid rgba(137, 187, 72, 1)
    }
</style>