@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-qms-cert d-flex align-center justify-center flex-column">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Class="ft-padrao text-center fs-titulo-2 pb-4">
                <strong class="f-s-g">Nossas Certificações</strong>
            </MudText>
            <div class="d-flex justify-center align-center pt-9 flex-wrap" style="gap:40px;">
                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 150px !important; height: 150px !important;">
                    <MudImage src="assets/cert1.png" Fluid ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 150px !important; height: 150px !important;">
                    <MudImage src="assets/cert2.png" Fluid ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />

                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 150px !important; height: 150px !important;">
                    <MudImage src="assets/cert3.png" Fluid ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />

                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 150px !important; height: 150px !important;">
                    <MudImage src="assets/cert4.png" Fluid ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />

                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 150px !important; height: 150px !important;">
                    <MudImage src="assets/cert5.png" Fluid ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />

                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 150px !important; height: 150px !important;">
                    <MudImage src="assets/cert6.png" Fluid ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />

                </MudPaper>
            </div>
        </MudContainer>

    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-qms-cert-m d-flex align-center justify-center flex-column pb-14">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo-m pb-9">
                <strong class="f-s-g">Nossas Certificações</strong>
            </MudText>

            <MudGrid Justify="Justify.Center">
                <MudItem xs="4">
                    <MudPaper Elevation="25"
                              Class="rounded-lg shadow-md"
                              style="width: 110px !important; height: 110px !important;">
                        <MudImage Fluid src="assets/cert1.png" />
                    </MudPaper>
                </MudItem>

                <MudItem xs="4">
                    <MudPaper Elevation="25"
                              Class="rounded-lg shadow-md"
                              style="width: 110px !important; height: 110px !important;">
                        <MudImage Fluid src="assets/cert2.png" />
                    </MudPaper>
                </MudItem>

                <MudItem xs="4">
                    <MudPaper Elevation="25"
                              Class="rounded-lg shadow-md"
                              style="width: 110px !important; height: 110px !important;">
                        <MudImage Fluid src="assets/cert3.png" />
                    </MudPaper>
                </MudItem>

                <MudItem xs="4">
                    <MudPaper Elevation="25"
                              Class="rounded-lg shadow-md"
                              style="width: 110px !important; height: 110px !important;">
                        <MudImage Fluid src="assets/cert4.png" />
                    </MudPaper>
                </MudItem>

                <MudItem xs="4">
                    <MudPaper Elevation="25"
                              Class="rounded-lg shadow-md"
                              style="width: 110px !important; height: 110px !important;">
                        <MudImage Fluid src="assets/cert5.png" />
                    </MudPaper>
                </MudItem>

                <MudItem xs="4">
                    <MudPaper Elevation="25"
                              Class="rounded-lg shadow-md"
                              style="width: 110px !important; height: 110px !important;">
                        <MudImage Fluid src="assets/cert6.png" />
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-qms-cert {
        height: 60vh;
    }

    .wrapper-qms-cert-m {
        height: 100%;
        padding: 30px 0;
        margin-top: 60px
    }
</style>