@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-qms-cert d-flex align-center justify-center flex-column">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo pb-9">
                <strong class="f-s-g">Nossas Certificações</strong>
            </MudText>
        <div class="d-flex justify-center align-center gap-3 pt-9 flex-wrap">
            <MudPaper Elevation="25"
                      Class="rounded-lg shadow-md"
                      style="width: 200px !important; height: 180px !important;">
                <img src="assets/cert1.png" />
            </MudPaper>

            <MudPaper Elevation="25"
                      Class="rounded-lg shadow-md"
                      style="width: 200px !important; height: 180px !important;">
                <img src="assets/cert2.png" />
            </MudPaper>

            <MudPaper Elevation="25"
                      Class="rounded-lg shadow-md"
                      style="width: 200px !important; height: 180px !important;">
                <img src="assets/cert3.png" />
            </MudPaper>

            <MudPaper Elevation="25"
                      Class="rounded-lg shadow-md"
                      style="width: 200px !important; height: 180px !important;">
                <img src="assets/cert4.png" />
            </MudPaper>

            <MudPaper Elevation="25"
                      Class="rounded-lg shadow-md"
                      style="width: 200px !important; height: 180px !important;">
                <img src="assets/cert5.png" />
            </MudPaper>

            <MudPaper Elevation="25"
                      Class="rounded-lg shadow-md"
                      style="width: 200px !important; height: 180px !important;">
                <img src="assets/cert6.png" />
            </MudPaper>
        </div>
        </MudContainer>

    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-qms-cert-m d-flex align-center justify-center flex-column">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo pb-9">
                <strong class="f-s-g">Nossas Certificações</strong>
            </MudText>
            <div class="d-flex justify-center align-center gap-4 pt-9 flex-wrap">
                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 200px !important; height: 180px !important;">
                    <img src="assets/cert1.png" />
                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 200px !important; height: 180px !important;">
                    <img src="assets/cert2.png" />
                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 200px !important; height: 180px !important;">
                    <img src="assets/cert3.png" />
                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 200px !important; height: 180px !important;">
                    <img src="assets/cert4.png" />
                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 200px !important; height: 180px !important;">
                    <img src="assets/cert5.png" />
                </MudPaper>

                <MudPaper Elevation="25"
                          Class="rounded-lg shadow-md"
                          style="width: 200px !important; height: 180px !important;">
                    <img src="assets/cert6.png" />
                </MudPaper>
            </div>
        </MudContainer>

    </div>
</MudHidden>

<style>
    .wrapper-qms-cert {
        height: 95vh;
    }

    .wrapper-qms-cert-m {
        height: 100%;
        padding: 30px 0;
        margin-top: 60px
    }
</style>