@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="bg-segmento wrapper-ctt d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large"
                      Class="h-full flex items-center">
            <MudText Typo="Typo.h3"
                     Class="ft-padrao text-center fs-subt-2 pb-7 c-w">
                • ENTRE EM CONTATO
            </MudText>

            <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-titulo pb-9 c-w">
                Torne sua empresa parte da<br /><strong>transformação sustentável</strong>
            </MudText>

            <div class="d-flex justify-center">
                <MudButton Class="bg-btn ft-padrao text-center w-700"
                           Variant="Variant.Filled"
                           Color="Color.Success"
                           Size="Size.Medium"
                           EndIcon="@Icons.Material.Filled.ArrowOutward">
                    Fale agora com nossa equipe
                </MudButton>
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="bg-segmento wrapper-ctt-m d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large"
                      Class="h-full flex items-center">
            <MudText Class="ft-padrao text-center fs-subt-m pb-7 c-w">
                • ENTRE EM CONTATO
            </MudText>

            <MudText Class="ft-padrao text-center fs-titulo-m pb-9 c-w">
                Torne sua empresa parte da <strong>transformação sustentável</strong>
            </MudText>

            <div class="d-flex justify-center">
                <MudButton Class="bg-btn br-1 text-center ft-padrao w-700"
                           Variant="Variant.Filled"
                           Color="Color.Success"
                           Size="Size.Medium"
                           EndIcon="@Icons.Material.Filled.ArrowOutward">
                    Fale agora com nossa equipe
                </MudButton>
            </div>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-ctt {
        height: 53.1vh;
    }

    .wrapper-ctt-m {
        height: 100%;
        padding: 30px 0;
    }
</style>