@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudContainer MaxWidth="MaxWidth.Large" Class="flex items-center">
        <div class="d-flex justify-center gap-5 align-center mt-5">
            <MudImage Src="assets/foto-quemsomos-2.jpg"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-3.jpg"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-4.jpg"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-5.jpg"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-6.jpg"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />
        </div>
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Medium" Class="flex items-center">
        @* FRASES *@
        <div class="wrp-fotos d-flex justify-center align-center gap-3 mb-1">
            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/1-Estrela.svg"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="15"
                          Height="15"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    <strong class="f-s-g">Mais de 15 anos</strong> de experiência
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/2-Estrela.svg"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="15"
                          Height="15"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    Biodigestor com capacidade
                    <strong class="f-s-g">de 50.000 m²/dia</strong>
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/3-Estrela.svg"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="15"
                          Height="15"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    <strong class="f-s-g">32 alqueires</strong> de área total
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/4-truck.svg"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="15"
                          Height="15"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    <strong class="f-s-g">Frota própria</strong> de caminhões
                </MudText>
            </div>
        </div>
    </MudContainer>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <div class="d-flex justify-center align-center mb-10" style="gap:12px">
            <MudImage Src="assets/foto-quemsomos-2.jpg"
                      Width=60
                      Height=75
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-3.jpg"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-4.jpg"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-5.jpg"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />

            <MudImage Src="assets/foto-quemsomos-6.jpg"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover" />
        </div>

        @* FRASES *@
        <div class="d-flex justify-center align-center flex-wrap gap-3">
            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/1-Estrela.svg"
                          ObjectPosition="ObjectPosition.Center"
                          Width="15"
                          Height="15"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-cab">
                    <strong class="f-s-g">Mais de 15 anos</strong> de experiência
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/4-truck.svg"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="15"
                          Height="15"
                          Fluid />
                <MudText class="ft-padrao fs-cab">
                    <strong class="f-s-g">Frota própria</strong> de caminhões
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/3-Estrela.svg"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="15"
                          Height="15"
                          Fluid />
                <MudText class="ft-padrao fs-cab">
                    <strong class="f-s-g">32 alqueires</strong> de área total
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/2-Estrela.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Width="15"
                          Height="15"
                          Fluid />
                <MudText class="ft-padrao fs-cab">
                    Biodigestor com capacidade
                    <strong class="f-s-g">de 50.000 m²/dia</strong>
                </MudText>
            </div>
        </div>
    </MudContainer>
</MudHidden>

<style>
    .wrp-fotos {
        height: 15vh;        
    }
</style>