@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <MudContainer MaxWidth="MaxWidth.Large" Class="flex items-center">
        <div class="d-flex justify-space-between align-center mb-18 mt-10">
            <MudImage Src="assets/foto-empty.png"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="200"
                      Height="180"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />
        </div>
        
        @* FRASES *@
        <div class="d-flex justify-center align-center gap-8 mb-5">
            <div class="d-flex justify-center align-center gap-2">
                <MudImage Src="assets/1-Estrela.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-2">
                    <strong class="f-s-g">Mais de 15 anos</strong> de experiência
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-2">
                <MudImage Src="assets/2-Estrela.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-2">
                    Biodigestor com capacidade
                    <strong class="f-s-g">de 50.000 m²/dia</strong>
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-2">
                <MudImage Src="assets/3-Estrela.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-2">
                    <strong class="f-s-g">32 alqueires</strong> de área total
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-2">
                <MudImage Src="assets/4-truck.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-2">
                    <strong class="f-s-g">Frota própria</strong> de caminhões
                </MudText>
            </div>
        </div>
    </MudContainer>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <MudContainer MaxWidth="MaxWidth.Large">
        <div class="d-flex justify-space-between align-center mb-10 mt-5">
            <MudImage Src="assets/foto-empty.png"
                      Width=60
                      Height=75
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />

            <MudImage Src="assets/foto-empty.png"
                      Width="60"
                      Height="75"
                      Elevation="22"
                      Class="rounded-lg"
                      ObjectPosition="ObjectPosition.Center"
                      ObjectFit="ObjectFit.Cover"
                      Fluid />
        </div>

        @* FRASES *@
        <div class="d-flex justify-center align-center flex-wrap gap-3">
            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/1-Estrela.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    <strong class="f-s-g">Mais de 15 anos</strong> de experiência
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/4-truck.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    <strong class="f-s-g">Frota própria</strong> de caminhões
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/3-Estrela.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    <strong class="f-s-g">32 alqueires</strong> de área total
                </MudText>
            </div>

            <div class="d-flex justify-center align-center gap-1">
                <MudImage Src="assets/2-Estrela.png"
                          ObjectPosition="ObjectPosition.Center"
                          ObjectFit="ObjectFit.Cover"
                          Fluid />
                <MudText class="ft-padrao fs-subt-m">
                    Biodigestor com capacidade
                    <strong class="f-s-g">de 50.000 m²/dia</strong>
                </MudText>
            </div>
        </div>
    </MudContainer>
</MudHidden>