@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper-qms-selos d-flex justify-center align-center ">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <div class="d-flex justify-center align-center gap-4">
                <MudImage Src="assets/selo1-qms.svg" Width="250" Fluid ObjectPosition="ObjectPosition.Center" />
                <MudImage Src="assets/selo2-qms.svg" Width="250" Fluid ObjectPosition="ObjectPosition.Center" />
                <MudImage Src="assets/selo3-qms.svg" Width="250" Fluid ObjectPosition="ObjectPosition.Center" />
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-qms-selos-m d-flex align-center">
        <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center flex-wrap gap-6">
            <MudGrid Justify="Justify.Center">
                <MudItem xs="6">
                    <MudImage Src="assets/Selo 1.svg" Fluid ObjectPosition="ObjectPosition.Center" />
                </MudItem>
                <MudItem xs="6">
                    <MudImage Src="assets/Selo 2.svg" Fluid ObjectPosition="ObjectPosition.Center" />
                </MudItem>
                <MudItem xs="6">
                    <MudImage Src="assets/Selo 3.svg" Fluid ObjectPosition="ObjectPosition.Center" />
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>


<style>
    .wrapper-qms-selos {
        height: 100%;
        padding: 20px 0;
    }

    .wrapper-qms-selos-m {
        height: 100%;
        padding: 30px 0
    }
</style>