.f-s-g {
    color: rgba(10, 91, 95, 1);
}

.bg-btn {
    background: linear-gradient(87.52deg, #1B804D 0.13%, #89BB48 103.08%);
}

.f-h {
    color: rgba(27, 128, 77, 1);
}

.f-h2 {
    background: linear-gradient(85.18deg, #1B804D -3.87%, #89BB48 118.16%);
    -webkit-background-clip: text; /* recorta o fundo no formato do texto */
    -webkit-text-fill-color: transparent; /* deixa o preenchimento do texto transparente */
    display: inline-block; /* ajuda a renderizar corretamente */
}

f-h3 {
    color: rgba(39, 39, 39, 1);
}

.bg-card {
    background: rgba(27, 128, 77, 1);
}

.bg-segmento {
    height: 40vh;
    background: linear-gradient(85.18deg, #1B804D -3.87%, #89BB48 118.16%);
}

.bg-g {
    background: rgba(243, 243, 243, 1);
}

.footer-bg {
    color: rgba(137, 187, 72, 1);
}

.bg-avatar {
    background: linear-gradient(87.76deg, #1B804D 4.32%, #89BB48 103.03%);
}