@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div Class="bg-g wrp-bol">
        <MudContainer MaxWidth="MaxWidth.Large" Class="flex items-center">
            <div class="d-flex wrp-bol-a justify-center align-center" style="gap: 133px">
                <div class="d-flex flex-column justify-center align-center">
                    <MudAvatar Style="height:140px; width:140px;" Class="bg-avatar" Color="Color.Primary">
                        <div class="d-flex flex-column justify-center align-center">
                            <MudText class="ft-padrao fs-titulo-2 w-700">
                                21
                            </MudText>
                            <MudText class="ft-padrao fs-titulo-m">
                                Milhões
                            </MudText>
                        </div>
                    </MudAvatar>
                    <MudText class="ft-padrao fs-subt-m mt-3 text-center">
                        De metros cúbicos<br />poupados de aterro
                    </MudText>
                </div>

                <div class="d-flex flex-column justify-center align-center">
                    <MudAvatar Style="height:140px; width:140px;" Class="bg-avatar fs-titulo-2 w-700" Color="Color.Primary">
                        <div class="d-flex flex-column justify-center align-center">
                            <MudText class="ft-padrao fs-titulo-2 w-700">
                                6.5
                            </MudText>
                            <MudText class="ft-padrao fs-titulo-m">
                                Milhões
                            </MudText>
                        </div>
                    </MudAvatar>
                    <MudText class="ft-padrao fs-subt-m mt-3 text-center">
                        De toneladas de biogás<br />para geração de energia
                    </MudText>
                </div>

                <div class="d-flex flex-column justify-center align-center">
                    <MudAvatar Style="height:140px; width:140px;" Class="bg-avatar fs-titulo-2 w-700" Color="Color.Primary">
                        <div class="d-flex flex-column justify-center align-center">
                            <MudText class="ft-padrao fs-titulo-2 w-700">
                                +70
                            </MudText>
                            <MudText class="ft-padrao fs-titulo-m">
                                Milhões
                            </MudText>
                        </div>
                    </MudAvatar>
                    <MudText class="ft-padrao fs-subt-m mt-3 text-center">
                        De reais investidos em<br />tecnologia ambiental
                    </MudText>
                </div>

                <div class="d-flex flex-column justify-center align-center">
                    <MudAvatar Style="height:140px; width:140px;" Class="bg-avatar fs-titulo-2 w-700" Color="Color.Primary">
                        <div class="d-flex flex-column justify-center align-center">
                            <MudText class="ft-padrao fs-titulo-2 w-700">
                                20
                            </MudText>
                            <MudText class="ft-padrao fs-titulo-m">
                                Milhões
                            </MudText>
                        </div>
                    </MudAvatar>
                    <MudText class="ft-padrao fs-subt-m mt-3 text-center">
                        toneladas de resíduos <br />recuperados
                    </MudText>
                </div>
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
        <div Class="bg-g wrp-bol-m">
            <MudContainer MaxWidth="MaxWidth.Large" Class="flex items-center">
                <div class="d-flex wrp-bol-a-m justify-space-between align-center" style="">
                    <div class="d-flex flex-column justify-center align-center">
                        <MudAvatar Style="height:74px; width:74px;" Class="bg-avatar" Color="Color.Primary">
                            <div class="d-flex flex-column justify-center align-center">
                                <MudText class="ft-padrao fs-titulo-m w-700">
                                    21
                                </MudText>
                                <MudText class="ft-padrao fs-subt-m">
                                    Milhões
                                </MudText>
                            </div>
                        </MudAvatar>
                        <MudText class="ft-padrao fs-cab-2 mt-3 text-center">
                            De metros cúbicos poupados de aterro
                        </MudText>
                    </div>

                    <div class="d-flex flex-column justify-center align-center">
                        <MudAvatar Style="height:74px; width:74px;" Class="bg-avatar fs-titulo-2 w-700" Color="Color.Primary">
                            <div class="d-flex flex-column justify-center align-center">
                                <MudText class="ft-padrao fs-titulo-m w-700">
                                    6.5
                                </MudText>
                                <MudText class="ft-padrao fs-subt-m">
                                    Milhões
                                </MudText>
                            </div>
                        </MudAvatar>
                        <MudText class="ft-padrao fs-cab-2 mt-3 text-center">
                            De toneladas de biogás para geração de energia
                        </MudText>
                    </div>

                    <div class="d-flex flex-column justify-center align-center">
                        <MudAvatar Style="height:74px; width:74px;" Class="bg-avatar fs-titulo-2 w-700" Color="Color.Primary">
                            <div class="d-flex flex-column justify-center align-center">
                                <MudText class="ft-padrao fs-titulo-m w-700">
                                    +70
                                </MudText>
                                <MudText class="ft-padrao fs-subt-m">
                                    Milhões
                                </MudText>
                            </div>
                        </MudAvatar>
                        <MudText class="ft-padrao fs-cab-2 mt-3 text-center">
                            De reais investidos em tecnologia ambiental
                        </MudText>
                    </div>

                    <div class="d-flex flex-column justify-center align-center">
                        <MudAvatar Style="height:74px; width:74px;" Class="bg-avatar fs-titulo-2 w-700" Color="Color.Primary">
                            <div class="d-flex flex-column justify-center align-center">
                                <MudText class="ft-padrao fs-titulo-m w-700">
                                    20
                                </MudText>
                                <MudText class="ft-padrao fs-subt-m">
                                    Milhões
                                </MudText>
                            </div>
                        </MudAvatar>
                        <MudText class="ft-padrao fs-cab-2 mt-3 text-center">
                            De toneladas de resíduos recuperados
                        </MudText>
                    </div>
                </div>
            </MudContainer>
        </div>
</MudHidden>

<style>
    .wrp-bol {
        height: 125px;
        margin-top: -64px;
    }

    .wrp-bol-m {
        height: 75px;
        margin-top: -64px;
    }

    .wrp-bol-a{
        position: relative;
        top: -70px;
    }

    .wrp-bol-a-m {
        position: relative;
        top: -40px;
    }
</style>