<MudContainer MaxWidth="MaxWidth.Large">
    <MudDivider />
</MudContainer>
<div class="wrapper5 d-flex align-center justify-center flex-column">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h3"
                 Class="ft-padrao text-center fs-titulo pb-9">
            Nossos clientes <strong class="f-s-g">confiam <br />em nossas soluções</strong><br />
        </MudText>
    </MudContainer>

    <MudGrid Justify="Justify.Center" Class="pb-8">
        <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

@*         <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="1">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem> *@
    </MudGrid>

    <MudButton Class="bg-btn text-center w-700"
               Variant="Variant.Filled"
               Color="Color.Success"
               Size="Size.Medium"
               EndIcon="@Icons.Material.Filled.ArrowOutward">
        Seja um parceiro da Bella Vista Ambiental
    </MudButton>
</div>

<style>
    .wrapper5 {
        height: 75vh;
    }
</style>