@page "/counter"

<PageTitle>Counter</PageTitle>

<div style="height: 60vh; opacity: 40%; background-color: blue;">
    <MudText Typo="Typo.h5" Style="font-family:Exo">testsetesset</MudText>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
