@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="bg-footer d-flex align-center">
        <MudContainer MaxWidth="MaxWidth.Large" Class="h-full flex items-center">

            <div class="d-flex justify-space-between align-center">
                <MudImage Src="assets/logo-branco.svg" Width="200" Height="37" ObjectPosition="ObjectPosition.Center" />

                <MudText Class="fs-subt-m c-w">
                    <strong class="footer-bg">© Copyright 2025 Copfy</strong> | Todos os direitos reservados
                </MudText>

                <MudText Class="fs-subt-m c-w">
                    <strong class="footer-bg">Siga Nossas Redes:</strong>
                </MudText>
            </div>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="bg-footer wrapper-f-m d-flex align-center">
        <MudContainer MaxWidth="MaxWidth.Large" Class="h-full flex items-center">

            <div class="d-flex justify-center align-center flex-wrap gap-5">
                <MudImage Src="assets/logo-branco.svg"
                          Width="130"
                          Height="30"
                          ObjectPosition="ObjectPosition.Center" />

                <MudText Class="fs-subt-m c-w">
                    <strong class="footer-bg">© Copyright 2025 Copfy</strong> | Todos os direitos reservados
                </MudText>

                <MudText Class="fs-subt-m c-w">
                    <strong class="footer-bg">Siga Nossas Redes:</strong>
                </MudText>
            </div>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper-f {
        height: 74.7vh;
    }

    .wrapper-f-m {
        height: 100%;
        padding: 30px 0
    }
</style>