<div class="bg-footer d-flex align-center">
    <MudContainer MaxWidth="MaxWidth.Large" Class="h-full flex items-center">

        <div class="d-flex justify-space-between align-center">
            <MudImage Src="assets/logo-branco.svg" Width="280" Height="67" ObjectPosition="ObjectPosition.Center" />

            <MudText Typo="Typo.body2">
                © Copyright 2025 Copfy | Todos os direitos reservados
            </MudText>

            <MudText Typo="Typo.body2">
                Siga Nossas Redes:
            </MudText>
        </div>
    </MudContainer>
</div>