@page "/gestao-sustentavel"

@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large" Class="flex items-center">
            <MudGrid class="d-flex align-center">
                <MudItem xs="12" md="6" Class="flex flex-col text-white space-y-4">
                    <MudText Typo="Typo.h3" Class="ft-padrao fs-subt-2 pb-7 f-h">
                        • SOBRE NÓS
                    </MudText>

                    <MudText Typo="Typo.h3" Class="ft-padrao fs-titulo pb-7">
                        Somos especialistas <br />
                        em <strong class="f-s-g">gestão sustentável de resíduos</strong>
                    </MudText>

                    <MudText Typo="Typo.body1" Class="ft-padrao fs-subt-2 pb-7">
                        A Bella Vista Ambiental nasceu com o propósito de unir tecnologia, experiência e responsabilidade socioambiental. Atuamos em todas as etapas da gestão de resíduos, da coleta ao processamento, sempre com soluções inovadoras que reduzem custos, protegem marcas e promovem a economia circular.
                    </MudText>

                    <MudButton Class="bg-btn w-700" DropShadow="false" Variant="Variant.Filled" Color="Color.Success" Size="Size.Medium" EndIcon="@Icons.Material.Filled.ArrowOutward">
                        Saiba mais sobre nós
                    </MudButton>
                </MudItem>

                <MudItem xs="12" md="4" Class="">
                    <MudImage Src="assets/sobrenos-caminhoes.png" Width="450" Height="480" Fluid Class="rounded-lg" ObjectPosition="ObjectPosition.Center" />
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper-m d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large" Class="flex items-center">
            <MudGrid>
                <MudItem Class="flex flex-col justify-center align-center text-white space-y-4">
                    <MudText Typo="Typo.h3" Class="ft-padrao text-center fs-subt-m pb-5 f-h">
                        • SOBRE NÓS
                    </MudText>

                    <MudText Typo="Typo.h3"
                             Class="ft-padrao text-center fs-titulo-m pb-7">
                        Somos especialistas <br />
                        em <strong class="f-s-g">gestão sustentável de resíduos</strong>
                    </MudText>

                    <MudText Typo="Typo.body1"
                             Class="ft-padrao text-center fs-subt-m pb-7">
                        A Bella Vista Ambiental nasceu com o propósito de unir tecnologia, experiência e responsabilidade socioambiental. Atuamos em todas as etapas da gestão de resíduos, da coleta ao processamento, sempre com soluções inovadoras que reduzem custos, protegem marcas e promovem a economia circular.
                    </MudText>

                    <div class="d-flex align-center justify-center">
                        <MudButton Class="bg-btn w-700"
                                   DropShadow="false"
                                   Variant="Variant.Filled"
                                   Color="Color.Success"
                                   Size="Size.Medium"
                                   EndIcon="@Icons.Material.Filled.ArrowOutward">
                            Saiba mais sobre nós
                        </MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper {
        height: 74.7vh;
    }

    .wrapper-m {
        height: 100%;
        padding: 30px 0
    }
</style>