@page "/"

@inject IJSRuntime JS
<PageTitle>Home | Bella Vista Ambiental</PageTitle>

@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="hero-section">
        <div class="hero-overlay">
            <MudContainer MaxWidth="MaxWidth.Large" Class="h-full flex items-center">
                <MudGrid>
                    <MudItem xs="12" md="6" Class="flex flex-col justify-center space-y-4">
                        <MudText Typo="Typo.h2" Class="ft-padrao c-w w-400 fs-titulo pb-5">
                            Soluções ambientais <br />
                            que <span class="w-500">
                                transformam <br />resíduos em energia <br />
                                e sustentabilidade
                            </span>
                        </MudText>

                        <MudText Typo="Typo.body1" Class="ft-padrao fs-subt c-w w-400">
                            Mais de 15 anos oferecendo <strong class="w-500"> inovação,<br /> compliance e impacto positivo </strong> para <br /> empresas e para o planeta.
                        </MudText>
                    </MudItem>

                </MudGrid>
            </MudContainer>
        </div>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="hero-section-m">
        <div class="hero-overlay-m">
            <MudContainer MaxWidth="MaxWidth.Large">
                <MudGrid>
                    <MudItem Class="flex flex-col justify-center">
                        <MudText Class="ft-padrao c-w w-400 fs-titulo-m pb-5">
                            Soluções ambientais <br />
                            que <span class="w-500">
                                transformam <br />resíduos em energia <br />
                                e sustentabilidade
                            </span>
                        </MudText>

                        <MudText Class="ft-padrao fs-subt-m c-w w-400">
                            Mais de 15 anos oferecendo <strong class="w-500"> inovação,<br /> compliance e impacto positivo </strong> para <br /> empresas e para o planeta.
                        </MudText>
                    </MudItem>

                </MudGrid>
            </MudContainer>
        </div>
    </div>
</MudHidden>

<style>
    .hero-section {
        position: relative;
        width: 100%;
        height: 70vh; /* altura do hero */
        background: url("assets/bg-hero.jpg") center center / cover no-repeat;
    }

    .hero-section-m {
        position: relative;
        width: 100%;
        height: 50vh; /* altura do hero */
        background: url("assets/bg-hero.jpg") center center / cover no-repeat;
    }

    .hero-overlay {
        position: absolute;
        inset: 0;
        /* background: rgba(0, 0, 0, 0.45); */
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 2rem; */
    }

    .hero-overlay-m {
        position: absolute;
        inset: 0;
        /* background: rgba(0, 0, 0, 0.45); */
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="reveal">
    <GestaoSustentavel />
</div>

<div class="reveal">
    <Weather />
</div>
<div class="reveal">
    <SolucoesSegmento />
</div>
<div class="reveal">
    <ResiduosValor />
</div>
<div class="reveal">
    <Clientes />
</div>
<div class="reveal">
    <ProjetosMidia />
</div>
<div class="reveal">
    <EntreContato />
</div>
<div class="reveal">
    <Footer />
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initScrollAnimations");
        }
    }
}