<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h3" Class="font-bold">
        Confira nossas iniciativas e projetos
    </MudText>

    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" md="6">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>

        <MudItem xs="12" md="6">
            <MudCard>
                <MudCardContent>
                    <div class="d-flex justify-center align-center">
                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>