<div class="wrapper4 d-flex align-center justify-center">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudImage Src="assets/caminho-itens.png"
                          Width="555"
                          Height="510"
                          Class="rounded-lg"
                          ObjectPosition="ObjectPosition.Center" />
            </MudItem>

            <MudItem xs="12"
                     md="6"
                     Class="flex flex-col justify-center text-white space-y-4">
                <MudText Typo="Typo.h3"
                         Class="ft-padrao fs-titulo mb-8">
                    Como transformamos <strong class="f-s-g">resíduos em valor</strong>
                </MudText>

                <MudImage Src="assets/itens-arrow.png"
                          Width="557"
                          Height="220"
                          Class="rounded-lg mb-8"
                          ObjectPosition="ObjectPosition.Center" />

                <MudButton Class="bg-btn text-center w-700"
                           Variant="Variant.Filled"
                           Color="Color.Success"
                           Size="Size.Medium"
                           EndIcon="@Icons.Material.Filled.ArrowOutward">
                    Solicite agora um diagnóstico
                </MudButton>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>
<style>
    .wrapper4 {
        height: 82.2vh;
    }
</style>