@* VERSÃO DESKTOP *@
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <div class="wrapper4 d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudGrid>
                <MudItem xs="12" md="6">
                    <MudImage Src="assets/caminho-itens.png"
                              Class="rounded-lg"
                              Fluid
                              ObjectPosition="ObjectPosition.Center" />
                </MudItem>

                <MudItem xs="12"
                         md="6"
                         Class="flex flex-col justify-center text-white space-y-4">
                    <MudText Typo="Typo.h3"
                             Class="ft-padrao fs-titulo-2">
                        Como transformamos <strong class="f-s-g">resíduos em valor</strong>
                    </MudText>

                    <MudImage Src="assets/itens-arrow.svg"
                              Width="490"
                              Height="220"
                              Class="rounded-lg mb-3"
                              ObjectPosition="ObjectPosition.Center" />

                    <MudButton Class="bg-btn ft-padrao text-center w-700"
                               Variant="Variant.Filled"
                               Color="Color.Success"
                               Size="Size.Medium"
                               Href="/entre-contato"
                               EndIcon="@Icons.Material.Filled.ArrowOutward">
                        Solicite agora um diagnóstico
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

@* VERSÃO MOBILE *@
<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <div class="wrapper4-m d-flex align-center justify-center">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudGrid>
                <MudItem Class="flex flex-col justify-center text-center text-white">
                    <MudText Typo="Typo.h3"
                             Class="ft-padrao fs-titulo-m mb-8">
                        Como transformamos <strong class="f-s-g">resíduos em valor</strong>
                    </MudText>

                    <MudImage Src="assets/itens-arrow.svg"
                              Width="350"
                              Height="150"
                              Class="rounded-lg mb-8"
                              ObjectPosition="ObjectPosition.Center" />

                    <MudButton Class="bg-btn text-center ft-padrao br-1 w-700"
                               Variant="Variant.Filled"
                               Href="/entre-contato"
                               Color="Color.Success"
                               Size="Size.Medium"
                               EndIcon="@Icons.Material.Filled.ArrowOutward">
                        Solicite agora um diagnóstico
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudContainer>
    </div>
</MudHidden>

<style>
    .wrapper4 {
        height: 100vh;
        padding: 40px 0;
    }

    .wrapper4-m {
        height: 100%;
        padding: 30px 0;
    }
</style>