<div class="wrapper3 bg-segmento d-flex align-center justify-center">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudGrid Style="display: flex; align-items: center !important;">
            <MudItem xs="12" md="6" Class="flex flex-col justify-center">
                <MudText Typo="Typo.h3" Class="ft-padrao fs-titulo c-w pb-8">
                    Soluções sob <br />medida <strong>para<br /> cada segmento</strong>
                </MudText>
                <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao c-w">
                    Cada setor tem uma demanda, e nós temos a solução.
                </MudText>
            </MudItem>

            <!-- Imagem -->
            <MudItem xs="12" md="6">
                <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                    <MudCardContent>
                        <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                            <strong class="w-700">Alimentos & Bebidas:</strong> Produtos não conformes, orgânicos e embalagens.
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                    <MudCardContent>
                        <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                            <strong class="w-700">Varejo & Atacado:</strong> Logística reversa e descaracterização.
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Class="bg-card c-w mb-2 rounded-lg" Elevation="0">
                    <MudCardContent>
                        <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                            <strong class="w-700">Indústria:</strong> Resíduos orgânicos e recicláveis com compliance.
                        </MudText>
                    </MudCardContent>
                </MudCard>

                <MudCard Class="bg-card c-w rounded-lg" Elevation="0">
                    <MudCardContent>
                        <MudText Typo="Typo.body1" Class="fs-subt-2 ft-padrao">
                            <strong class="w-700">Centros de distribuição:</strong> Gestão integrada e relatórios ESG.
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>

<style>
    .wrapper3 {
        height: 53.5vh;
    }

    .c-w {
        color: white;
    }

    .bg-card {
    background: rgba(27, 128, 77, 1);
}
</style>