@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<div style="height: 60vh; opacity: 40%; background-color: yellow;">
    <MudText Typo="Typo.h5">teste modulo</MudText>
</div>
